body {
  margin: 0;
  font-family: 'Space Grotesk', 'Manrope', sans-serif;
  background-color: #050915;
  color: #e8edf7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
